* {
    box-sizing: border-box;
}

body {
    color:#97a5b5;
}

a {
    color: rgb(26, 112, 223);
}

a:hover {
    text-decoration: none;
}

h2 {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, input, a, button {
    font-family: "Quicksand";
}

/* nav */

.nav {
    background-color:  rgb(243, 250, 251);
}

.app-son {
    color: rgb(26, 112, 223);
    margin: 20px 0;
}

/* info-section generalities */

.info-section {
    padding: 60px 0;
}

.info-section:nth-child(even) {
    background-color: rgb(243, 250, 251);
}

.info-section:nth-child(odd) {
    background-color: white;
}

.description:nth-child(n) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding-top: 30px;
    padding-bottom: 30px;
}

.titles {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 80%;
    height: auto;
    padding: 20px;
}

/* first info-section */

input.form-control {
    border-radius: 20px;
    border: 2px solid rgb(26, 112, 223);
    border-right: none;
    padding: 20px;
    color: #97a5b5;
    background-color: transparent;
}

input.form-control:focus {
    background-color: transparent;
}

#button-addon2 {
    background-color: rgb(26, 112, 223);
    border-color: rgb(26, 112, 223);
    color: white;    
}

.btn.btn-outline-secondary {
    border-radius: 20px;
}

/* screenshots */ 

.screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screenshots p {
    text-align: center;
}

.slide-image {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image img {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 210px;
}

.uk-dotnav li a {
    border-radius: 20px;
    width: 25px;
    height: 12px;
    background-color: #d6d3d4;
    border-color: #d6d3d4;
}

.uk-dotnav li.uk-active a {
    background-color:rgb(26, 112, 223);
    border-color: rgb(26, 112, 223);
    width: 35px;
}

/* footer */

.footer {
    padding: 30px 0;
}

footer {
    display: flex;
    flex-direction: row;
    align-content: center;
}

footer i {
    margin-right: 5px;
}

footer p {
    font-size: 10px;
    margin: 0px;
}

@media (max-width: 767px){
    .titles { 
        align-self: center;
    }
}
